@charset "UTF-8";
table {
	border-collapse: collapse; /*セルの線を重ねる*/
}

table th {
	background: #a9cc51;
	border: solid 1.5px #909090;
	color: #4D4D4F;
	padding: 5px;
	width:  200px;              /* 幅指定 */
    height: 70px;               /* 高さ指定 */
    color: #494949;/*文字色*/
    font-size: 17pt;
    text-align:center;             
}
table td {
	border: solid 1.5px #909090;
	background: #ffffd6;
	padding: 10px;
	width:  200px;              /* 幅指定 */
    height: 70px;               /* 高さ指定 */
    text-align:center;
    font-size: 13pt;
}

h1 {
  padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
  color: #494949;/*文字色*/
  background: #f4f4f4;/*背景色*/
  border-left: solid 10px #a9cc51;/*左線*/
  border-bottom: solid 3px #d7d7d7;/*下線*/
}