<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Hello</title>
	<meta charset="utf-8" />
</head>
<h1>名簿検索</h1>
<body>
	<h1 th:text="検索フォーム"></h1>
	<form method="get" action="#" th:action="@{/roster}" th:object="${input2}">

		<p>名前：<input type="text" name="name" th:value="*{name}"></p>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>

		<input type="submit" value="確定">

	</form>
<p>
	<a href="http://localhost:8080/p" target="_blank">プロフィール入力画面</a>
	</p>
	
</body>

</html>