<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>検索フォーム</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style_title.css}">
</head>
<body>
	<h1 th:text="ユーザー検索"></h1>
	<form method="get" action="#" th:action="@{/roster}" th:object="${input2}">

		<p>名前：<input type="text" name="name" th:value="*{name}"></p>
		<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">エラーメッセージ</div>

		<input type="submit" value="検索">

	</form>
<p>
	<a href="http://localhost:8080/p">プロフィール入力ページ</a>
	</p>
	<p>
	<a href="http://localhost:8080/form">予定一覧ページ</a>
	</p>
	
</body>

</html>