<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>確認ページ</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style_title.css}">
</head>

<body>

	<h1><span th:text="${title}"></span></h1>
	<div th:object="${input2}">
		<p>『名前』</p>
		<p th:text="*{name}"></p>
			<p>『部署』</p>
		<p th:text="*{busyo}"></p>
			<p>『役職』</p>
		<p th:text="*{yakusyoku}"></p>
			<p>『趣味』</p>
		<p th:text="*{syumi}"></p>
			<p>『コメント』</p>
		<p th:text="*{comment}"></p>
<!--		<p>入力内容ここまで</p>-->
		<form method="get" action="#" th:action="@{/p}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="hidden" name="busyo" th:value="*{busyo}">
			<input type="hidden" name="yakusyoku" th:value="*{yakusyoku}">
			<input type="hidden" name="syumi" th:value="*{syumi}">
			<input type="hidden" name="comment" th:value="*{comment}">
			<input type="submit" value="プロフィール入力画面へ">
		</form>
		<p></p>
		<form method="get" action="#" th:action="@{/complete2}">
			<input type="hidden" name="name" th:value="*{name}">
			<input type="hidden" name="busyo" th:value="*{busyo}">
			<input type="hidden" name="yakusyoku" th:value="*{yakusyoku}">
			<input type="hidden" name="syumi" th:value="*{syumi}">
			<input type="hidden" name="comment" th:value="*{comment}">
			<input type="submit" value="入力完了画面へ">
		</form>
	</div>

</body>

</html>