<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Hello</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
	<h1><span th:text="${title}"></span></h1>
	<p>
		<a href="/form" th:href="@{/add}">予定入力画面へ</a>
	</p>
	<p>
		<a href="/form" th:href="@{/add}">名簿一覧</a>
	</p>
	
	<table>
		<tr>
			<th>登録順番</th>
			<th>名前</th>
			<th>予定</th>
			<th>削除</th>
			<th>編集</th>
			<th>詳細</th>
		</tr>
		<tr th:each="res : ${dbList}">
			<td th:text="${res.id}">1</td>
			<td th:text="${res.name}">名前</td>
			<td th:text="${res.list}">予定</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
			<td>
				<form th:action="@{/edit/{id}(id=${res.id})}">
					<input type="submit" value="編集" />
				</form>
			</td>
			<td>
				<form th:action="@{/form/{id}(id=${res.id})}">
					<input type="submit" value="詳細" />
				</form>
			</td>
		</tr>
	</table>